<div class="container">
    <h1>Posts Detail</h1>
    <div class="post-detail">
        <div class="post-head">
            <h5>Post <%=@post.id %> <%= @post.title %> <% 'by' %> <%= @user.name %></h5>
            <ul>
            <li class="like-form">
                    <%= form_with model: like, method: :post, url: new_user_like_path, local: true, scope: :new_like do |form| %>
                        <%= form.submit "Like", class: "btn btn-primary" %>
                        <%= form.hidden_field :post_id, value: @post.id %>
                    <% end %>
                </li>
                <li>Comments: <%= @post.comments_counter || 0 %> </li>
                <li>Likes: <%= @post.likes_counter || 0 %> </li>
            </ul>
        </div>
        <div class="post-body">
            <p><%= @post.text %></p>
        </div>
    </div>
    <div class="comments">
        <h5>Recent Comments</h5>
        <% @post.comments.order(created_at: :desc).each do |comment| %>
            <%= render partial: "/shared/comment", locals: { comment: comment } %>
        <% end %>
    </div>
</div>